/* You can add global styles to this file, and also import other style files */

*
	box-sizing: border-box;
	
body, html
	margin: 0;

	
/*For the placeholder *Loading...* text*/
.placeholder
	width: 100%;
	
	.mid
		color: #666666;
		font-size: 4em;
		height: 10vh;
		text-align: center;
		
	.far
		height: 45vh;